<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 12</title>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>
<body>
    <h1>TITULO PRINCIPAL</h1>
    <h2>SUBTITULO DE LA pagina con propiedades css</h2>
    <h3>Este es un titulo mas, con propiedades css</h3>
    <h4 class="colorNombre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla voluptatibus impedit, asperiores ut quasi, ducimus repudiandae et facilis beatae harum odit explicabo temporibus repellat, expedita tenetur labore. Tempora, quisquam!</h4>
    <h4 class="colorHexa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla voluptatibus impedit, asperiores ut quasi, ducimus repudiandae et facilis beatae harum odit explicabo temporibus repellat, expedita tenetur labore. Tempora, quisquam!</h4>
    <h4 class="colorRGB">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla voluptatibus impedit, asperiores ut quasi, ducimus repudiandae et facilis beatae harum odit explicabo temporibus repellat, expedita tenetur labore. Tempora, quisquam!</h4>
    <h4 class="colorRGBA">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla voluptatibus impedit, asperiores ut quasi, ducimus repudiandae et facilis beatae harum odit explicabo temporibus repellat, expedita tenetur labore. Tempora, quisquam!</h4>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus maiores! Voluptate, quidem magnam ab id excepturi error voluptas atque corporis debitis tempore consequatur illo vitae explicabo iure ullam architecto?</p>
</body>
</html>