<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 13</title>

    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="unico">
        <marquee><h1>Titulo Principal</h1></marquee>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum maxime esse ipsum eius alias? Fugiat explicabo temporibus placeat rem, optio quaerat delectus. Saepe, dignissimos error quidem id nulla sint.</p>
    </div>
    <div class="unico2">
        <h1>Titulo Principal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum maxime esse ipsum eius alias? Fugiat explicabo temporibus placeat rem, optio quaerat delectus. Saepe, dignissimos error quidem id nulla sint.</p>
    </div>
    <div class="unico3">
        <h1>Titulo Principal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum maxime esse ipsum eius alias? Fugiat explicabo temporibus placeat rem, optio quaerat delectus. Saepe, dignissimos error quidem id nulla sint.</p>
    </div>
    <div class="unico4">
        <h1>Titulo Principal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum maxime esse ipsum eius alias? Fugiat explicabo temporibus placeat rem, optio quaerat delectus. Saepe, dignissimos error quidem id nulla sint.</p>
    </div>
    <div class="unico5">
        <h1>Titulo Principal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum maxime esse ipsum eius alias? Fugiat explicabo temporibus placeat rem, optio quaerat delectus. Saepe, dignissimos error quidem id nulla sint.</p>
    </div>
</body>
</html>